* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

*,
:after,
:before {
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    flex-grow: 1;
    height: calc(100% - 100px);
}

p {
    line-height: normal;
}

.PlaceholderLoading {
    border-radius: var(--border-radius) !important;
}

body {
    overflow: hidden;
    background: var(--background-color) no-repeat;
    counter-reset: katexEqnNo mmlEqnNo;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--layout-color) !important;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input {
    &:focus {
        outline: none;
    }
}

.error {
    padding: 5px 10px;
    margin-top: 10px;
    display: block;
    text-align: center;
    background-color: var(--invert-color);
    color: var(--link-hover-dark);
    font-weight: bold;
    border-radius: var(--border-radius);
}

.DisabledButton {
    cursor: default !important;
    pointer-events: none !important;
    display: none !important;
}

button {
    border: none;
}

svg {
    color: var(--layout-color);
    min-width: 20px;
    min-height: 20px;
}

.Tailspin {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    place-items: center;
    overflow: auto;
}

body {
    &::-webkit-scrollbar {
        width: 12px;
        background: rgba(255, 255, 255, 0) !important;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0) !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #222222 !important;
        border-radius: 0px !important;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement {
        display: none !important;
    }

    &::-webkit-scrollbar-button:vertical:end:increment {
        display: none !important;
    }
}

.activeNoneClass {
    display: none;
}

::-moz-selection {
    background-color: var(--layout-color);
    color: var(--bg-color);
}
::selection {
    background-color: var(--layout-color);
    color: var(--bg-color);
}

.Section-custom-loader {
    // margin-top: 300px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    div {
        display: inline-block !important;
        width: 120px;
        height: 120px;
    }
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
}

.tabulator {
    border: none;
    box-shadow: var(--page-block-shadow);
    border-radius: var(--border-radius);

    .tabulator-header {
        .tabulator-col {
            white-space: normal !important;
            justify-content: center;
        }
    }

    .tabulator-col-resize-handle {
        height: 100% !important;
        margin: auto;
        width: 2px;
    }

    .tabulator-cell,
    .tabulator-col-title {
        font-size: 19px;
    }

    .tabulator-header-filter {
        padding: 0px 5px;

        input {
            padding: 10px !important;
            border-radius: var(--border-radius);
            font-size: 20px;
        }
    }

    .tabulator-header {
        .tabulator-col.tabulator-sortable {
            .tabulator-col-title {
                padding: 0px;
                text-align: center;
            }
        }
    }

    .tabulator-col-sorter {
        display: none !important;
    }
}

.word-wrap,
.tabulator-col-title {
    white-space: normal !important;
}

.tabulator-row {
    .tabulator-cell {
        padding: 5px;
    }

    &.tabulator-selectable:hover {
        background-color: #d8d8d8;
    }

    .tabulator-cell.tabulator-editing {
        text-align: center;
        background-color: #a0a0a0;
        padding: 10px;
        border: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .tabulator-row.tabulator-selectable:hover {
        background-color: #d8d8d8;
    }
}

.HotelTitle {
    font-size: 19px;
}

.HotelWorkers {
    font-size: 18px;
}

.HotelTotalAmount {
    font-size: 20px;
}

.activeMenu,
.activeList,
.activeLanguage {
    pointer-events: none !important;
    cursor: default !important;
}
