.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    // max-width: 600px;
    div {
        border-radius: var(--border-radius);
        padding: 15px;
        background-color: var(--background-color);
        box-shadow: var(--page-block-shadow);
        position: relative;
        ul {
            &:first-of-type {
                li {
                    &:first-child {
                        justify-content: center;
                        display: flex;
                        img {
                            margin-bottom: 20px;
                            object-fit: cover;
                            border-radius: var(--border-radius);
                        }
                    }
                }
            }
            &:last-of-type {
                top: -6px;
                left: -5px;
                right: -5px;
                margin: 20px;
                border-radius: var(--border-radius) var(--border-radius) 0px 0px;
                padding: 10px;
                background-color: var(--dropdown-invert);
                backdrop-filter: var(--blured);
                position: absolute;
            }
        }
    }
}

.Name,
.Username {
    color: var(--body-bg-color-dark);
}

.Name {
    font-size: 25px;
}

.Username {
    font-size: 20px;
}

.Email,
.PhoneNumber {
    font-size: 20px;
    text-decoration: underline var(--invert-color);
}

.Email {
    margin-bottom: 10px;
}
