.Registration-form {
    ul {
        li {
            font-size: 20px;
            padding: 5px;
            label {
                display: flex;
                justify-content: space-between;
                p {
                    color: var(--invert-color);
                    margin-right: 30px;
                }
                input {
                    padding: 5px;
                    border-radius: var(--border-radius);
                    box-shadow: var(--page-block-shadow);
                    background-color: var(--bg-color);
                    color: var(--invert-color);
                    padding-left: 20px;
                }
            }
            // &:last-child {
            //     display: flex;
            //     justify-content: flex-end;
            // }
        }
    }
}

.Registration-register-btn,
.Registration-select {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--page-block-shadow);
    background-color: var(--bg-color);
    color: var(--invert-color);
}

.User-list {
    display: flex;
    flex-direction: column;
}

.User-list__items {
    background-color: var(--bg-color);
    box-shadow: var(--page-block-shadow);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 5px;
}

.User-list__items {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            align-items: center;
            display: flex;
            margin-right: 15px;
            color: var(--invert-color);
            font-size: 20px;

            img {
                object-fit: cover;
                border-radius: 50%;
                margin-right: 15px;
            }

            &:last-child {
                button {
                    padding: 10px 11px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    border-radius: 50%;
                    box-shadow: var(--page-block-shadow);
                    background-color: var(--invert-color);
                    cursor: pointer;
                    svg {
                        fill: var(--search-input-bg);
                    }
                }
            }
        }
    }
}

.Registration-Password-Item {
    label {
        input {
            position: relative;
        }
        button {
            position: absolute;
            right: 15px;
            background-color: var(--transparent);
            margin: 5px 0px 0px 0px;
            border-radius: 50%;
            cursor: pointer;
            svg {
                transform: scale(1.5);
            }
        }
    }
}

.UserSearch {
    padding: 10px;
    padding-left: 20px;
    margin: 0px 0px 20px 5px;
    border-radius: var(--border-radius);
    box-shadow: var(--page-block-shadow);
    background-color: var(--bg-color);
    color: var(--invert-color);
}
