@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import "../fonts/DB Font/db.css";
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

*,
:after,
:before {
  border: 0 solid #d9d9e3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

editor-squiggler {
  display: none !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: calc(100% - 100px);
}

p {
  line-height: normal;
}

.PlaceholderLoading {
  border-radius: var(--border-radius) !important;
}

body {
  overflow: hidden;
  background: var(--background-color) no-repeat;
  counter-reset: katexEqnNo mmlEqnNo;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--layout-color) !important;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

input:focus {
  outline: none;
}

.error {
  padding: 5px 10px;
  margin-top: 10px;
  display: block;
  text-align: center;
  background-color: var(--invert-color);
  color: var(--link-hover-dark);
  font-weight: bold;
  border-radius: var(--border-radius);
}

.DisabledButton {
  cursor: default !important;
  pointer-events: none !important;
  display: none !important;
}

button {
  border: none;
}

svg {
  color: var(--layout-color);
  min-width: 20px;
  min-height: 20px;
}

.Tailspin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 255, 255, 0) !important;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0) !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #222222 !important;
  border-radius: 0px !important;
}
body::-webkit-scrollbar-button:vertical:start:decrement {
  display: none !important;
}
body::-webkit-scrollbar-button:vertical:end:increment {
  display: none !important;
}

.activeNoneClass {
  display: none;
}

::-moz-selection {
  background-color: var(--layout-color);
  color: var(--bg-color);
}

::selection {
  background-color: var(--layout-color);
  color: var(--bg-color);
}

.Section-custom-loader {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.Section-custom-loader div {
  display: inline-block !important;
  width: 120px;
  height: 120px;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  display: none !important;
}

.tabulator {
  border: none;
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  border-radius: var(--border-radius);
}
.tabulator .tabulator-header .tabulator-col {
  white-space: normal !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabulator .tabulator-col-resize-handle {
  height: 100% !important;
  margin: auto;
  width: 2px;
}
.tabulator .tabulator-cell,
.tabulator .tabulator-col-title {
  font-size: 19px;
}
.tabulator .tabulator-header-filter {
  padding: 0px 5px;
}
.tabulator .tabulator-header-filter input {
  padding: 10px !important;
  border-radius: var(--border-radius);
  font-size: 20px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  padding: 0px;
  text-align: center;
}
.tabulator .tabulator-col-sorter {
  display: none !important;
}

.word-wrap,
.tabulator-col-title {
  white-space: normal !important;
}

.tabulator-row .tabulator-cell {
  padding: 5px;
}
.tabulator-row.tabulator-selectable:hover {
  background-color: #d8d8d8;
}
.tabulator-row .tabulator-cell.tabulator-editing {
  text-align: center;
  background-color: #a0a0a0;
  padding: 10px;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row.tabulator-selectable:hover {
    background-color: #d8d8d8;
  }
}
.HotelTitle {
  font-size: 19px;
}

.HotelWorkers {
  font-size: 18px;
}

.HotelTotalAmount {
  font-size: 20px;
}

.activeMenu,
.activeList,
.activeLanguage {
  pointer-events: none !important;
  cursor: default !important;
}

:root {
  --body-bg-color: #f2f2f2;
  --login-bg-color: #c6c2c2d5;
  --body-bg-color-dark: #141414;
  --body-bg-color-dark-hover: #4b484f;
  --additional-bg-color: #d7dadc;
  --white-color: #fff;
  --black-color: #222222;
  --blured: blur(10px);
  --blured-invert: blur(0px);
  --border-radius: 8px;
  --height40: 40px;
  --layout-invert: invert(100%);
  --layout-reinvert: invert(0);
  --dropdown-background-light: #65646400;
  --dropdown-background-light-hover: #d3d3d399;
  --dropdown-background-dark: #7c7c7c99;
  --dropdown-background-dark-hover: #222222;
  --preloader-light-bg: #d7dadc;
  --preloader-dark-bg: #222222;
  --transparent-color: rgba(255, 255, 255, 0);
  --link-hover-light: #dc7575;
  --link-hover-dark: #bd4545;
  --gray_light: #b7b7b7;
  --gray_dark: #424242;
  --separator_common-light: var(--gray_light);
  --separator_common-dark: var(--gray_dark);
  --thin-border: 1px;
  --grin-light: #398652;
  --grin-dark: #607f78;
}

body.light {
  --search-input-bg: var(--additional-bg-color);
  --green: var(--grin-light);
  --gray: var(--gray_light);
  --link-hover: var(--link-hover-light);
  --blur: var(--blured-invert);
  --bg-color: var(--additional-bg-color);
  --invert-color: var(--black-color);
  --reinver-color: var(--white-color);
  --background-color: var(--body-bg-color);
  --layout-color: var(--black-color);
  --layout-color-hover: var(--additional-bg-color);
  --img-invert: var(--layout-reinvert);
  --search-bg-color: var(--body-bg-color);
  --search-bg-hover: var(--white-color);
  --dropdown-invert: var(--dropdown-background-light);
  --dropdown-invert-hover: var(--dropdown-background-light-hover);
  --preloader-bg: var(--preloader-light-bg);
  --page-block-shadow: 0 0 0 var(--thin-border) var(--separator_common-light);
}

body.dark {
  --search-input-bg: var(--black-color);
  --green: var(--grin-dark);
  --gray: var(--gray_dark);
  --link-hover: var(--link-hover-dark);
  --blur: var(--blured);
  --bg-color: var(--black-color);
  --invert-color: var(--additional-bg-color);
  --reinver-color: var(--black-color);
  --background-color: var(--body-bg-color-dark);
  --layout-color: var(--additional-bg-color);
  --layout-color-hover: var(--black-color);
  --img-invert: var(--layout-invert);
  --search-bg-color: var(--body-bg-color-dark);
  --search-bg-hover: var(--body-bg-color-dark-hover);
  --dropdown-invert: var(--dropdown-background-dark);
  --dropdown-invert-hover: var(--dropdown-background-dark-hover);
  --preloader-bg: var(--preloader-dark-bg);
  --page-block-shadow: 0 0 0 var(--thin-border) var(--separator_common-dark);
}

.DarkMode {
  border: none;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}
.DarkMode button {
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  border-radius: 50%;
}
.DarkMode button svg {
  display: block;
  width: 35px;
  height: 35px;
}

.Dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  background-color: var(--layout-color-hover);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  position: relative;
  margin-left: 20px;
}
.Dropdown button {
  cursor: pointer;
  font-size: 25px;
  color: var(--invert-color);
  background-color: var(--layout-color-hover);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px 20px;
}
.Dropdown ul {
  background-color: var(--layout-color-hover);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  top: 55px;
  right: 0px;
  position: absolute;
  padding: 5px 10px 10px 10px;
}
.Dropdown ul li {
  font-size: 22px;
  border-radius: var(--border-radius);
}
.Dropdown ul li a {
  padding: 10px;
  color: var(--invert-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Dropdown ul li a span {
  margin: 0px 15px;
}
.Dropdown ul li a:hover {
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--background-color);
}

.activeLanguage {
  background-color: var(--gray) !important;
}

.Localization {
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  margin-right: 20px;
  background-color: var(--layout-color-hover);
  border-radius: var(--border-radius);
}
.Localization button {
  color: var(--invert-color);
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
}
.Localization button:first-child {
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
}
.Localization button:last-child {
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.Logo {
  cursor: pointer;
  background-color: var(--layout-color-hover);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px;
}
.Logo p {
  line-height: normal;
  border-radius: var(--border-radius);
  font-family: "ODB", sans-serif !important;
  font-size: 27px;
  color: var(--layout-color);
}
.Logo p span {
  font-family: "ODB", sans-serif !important;
}

.Header {
  border-radius: var(--border-radius);
  margin: 15px;
}

.Menu-list {
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black-color);
  align-items: center;
  position: relative;
}
.Menu-list li {
  z-index: 10;
}
.Menu-list li:first-child {
  padding-top: 5px;
}

form {
  position: relative;
  margin: 0 auto;
}

.Central-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Right-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Right-header-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Right-header-content section:last-child {
  border: none;
}
.Right-header-content section:last-child span {
  white-space: nowrap;
}

.icoProfile {
  width: 24px;
  height: 24px;
}

.activeList {
  background-color: var(--layout-color-hover) !important;
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
}

.userName {
  background-color: var(--transparent) !important;
  padding-left: 5px;
  font-size: 20px;
}

.finance-td input {
  font-size: 16px;
}

.AlertSection ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}
.AlertSection ul li span {
  font-size: 18px;
  margin-left: 10px;
}
.AlertSection ul li svg {
  color: #d7dadc;
}

.Status {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 10px;
  min-width: 196px;
  color: #d7dadc;
  height: 70px;
  border-radius: var(--border-radius);
  margin: 0px 0px 10px 10px;
}

.Employee {
  max-width: 250px;
}
.Employee li ul li {
  margin-bottom: 2px;
}

.Employee-interface {
  width: 430px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
}

.Empoloyees-pagination__interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--border-radius);
}

.Employee-date-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
}

.Employee-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}
.Employee-btns li button {
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--reinver-color);
  height: 38px;
  border: none;
  background-color: var(--layout-color);
  padding: 0px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 20px;
}
.Employee-btns li button span {
  padding: 0 5px;
}
.Employee-btns li button svg {
  color: var(--reinver-color);
}

.returntoWorkspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 123px;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--reinver-color);
  height: 38px;
  border: none;
  margin-bottom: 5px;
  background-color: var(--layout-color);
  padding: 0px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.returntoWorkspace span {
  font-size: 16px;
  color: var(--reinver-color);
  padding: 10px;
}
.returntoWorkspace svg {
  color: var(--reinver-color);
}

.Employee-date li {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  font-size: 30px;
  padding: 5px 10px;
  color: var(--layout-color);
}

.Employee-data {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Employee-data-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Employee-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 25px;
  background-color: var(--search-bg-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px;
  margin: 5px;
  max-height: 100%;
  width: 100%;
}
.Employee-list:nth-child(2) {
  margin: 5px;
}
.Employee-list:first-child {
  margin-left: 0px;
}
.Employee-list:last-child {
  margin-right: 1px;
}

.Employee-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Employee-category {
  margin: 5px 0px 10px 5px;
  color: var(--layout-color) !important;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Employee-category span:first-child {
  margin-right: 5px;
}
.Employee-category span:last-child {
  padding: 5px;
  background-color: var(--search-bg-color);
  color: var(--layout-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
}

.Employee-category__amount {
  color: var(--layout-color);
  text-align: center;
  margin: 5px 0px 15px 5px;
  font-size: 20px;
}

.Employee-hotel,
.Employee-allAmount {
  color: var(--layout-color);
  padding: 5px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.Employee-hotel span,
.Employee-allAmount span {
  padding: 0px 20px 0px 10px;
}

.Employee-allAmount {
  padding-bottom: 10px;
}
.Employee-allAmount span b {
  margin-left: -10px;
}

.Employee-hotel__block {
  position: sticky;
  background-color: var(--bg-color);
  padding: 4px 0px 0px;
  top: -10px;
  z-index: 3;
}
.Employee-hotel__block ul {
  margin: 5px;
  border-radius: var(--border-radius);
}

.Employee-hotel-data {
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px;
  margin: 5px;
  position: relative;
  left: 0;
}

.Employee-CardItems {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Employee {
  color: var(--layout-color);
  border-radius: var(--border-radius);
  background-color: var(--search-bg-color);
  padding: 10px;
  margin: 5px;
}
.Employee li ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Employee li ul li span {
  position: relative !important;
  padding: 0px 20px 0px 10px;
}

.interimWarning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #df9a9a;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.interimWarning svg {
  color: var(--black-color);
}
.interimWarning span {
  padding-left: 10px;
}

.Employee-interface__btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Employee-filter {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 20px;
}
.Employee-filter label {
  position: absolute;
  z-index: 1;
  left: 15px;
}
.Employee-filter input {
  position: relative;
  color: var(--layout-color);
  font-size: 20px;
  border-radius: var(--border-radius);
  background-color: var(--search-bg-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px 0px 10px 40px;
}
.Employee-filter input:active {
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
}

tbody {
  display: block;
}

table {
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
table tr:first-child td {
  border-top: none;
}

td {
  border: 1px solid var(--gray);
}
td input {
  background-color: var(--background-color);
  color: var(--layout-color);
  outline: none;
  border: none;
  padding: 10px;
}
td input:active, td input:focus-visible {
  border: none;
  background-color: var(--layout-color) !important;
  color: var(--reinver-color);
}

thead tr td span {
  font-weight: bold;
}

.Finance-Table__container ul {
  padding-left: 0px !important;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CategoryHotel {
  display: block !important;
  text-align: center !important;
}

.All-Sum {
  text-align: center;
}

.Span-DontEdit,
.Employee-Table,
.Finance-td input,
.Finance-td,
.Employee-Pozition__tr td {
  width: 148.2px;
  height: 40px;
}

.Finance-td {
  height: 40px;
  text-align: center;
}
.Finance-td span {
  font-weight: bold;
  color: var(--layout-color);
}
.Finance-td input {
  text-align: right;
  font-weight: bold;
}

.Fin-Sums {
  text-align: right;
}

.financeCount-All {
  background-color: var(--bg-color);
  border: 1px solid var(--gray);
}
.financeCount-All th {
  border: 1px solid var(--gray);
}

.financeCount-All__Obj {
  background-color: var(--bg-color);
  border: 1px solid var(--gray);
}
.financeCount-All__Obj th {
  border: 1px solid var(--gray);
}

.Category-Employee__Centred {
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
}

.CategoryEmployeeName {
  color: var(--layout-color);
  text-align: left;
  font-size: 15px;
  margin-right: 50px;
}

.CategoryHotel {
  padding: 5px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.additionCategory {
  color: var(--layout-color);
  font-weight: bold;
}

.Employee-Table {
  padding: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
.Employee-Table span {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.financeHead {
  position: sticky;
  top: 0;
}

.financeHeaders ul {
  border-top: 0px;
  color: #222222;
  font-weight: normal;
  background-color: var(--green);
}
.financeHeaders ul:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.financeHeaders ul:nth-child(2) {
  height: 70px !important;
}
.financeHeaders ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-wrap: break-word;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.financeHeaders ul li:nth-child(1) {
  padding: 2px;
}

.Finance-Headers__Amount {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 40px !important;
  background-color: var(--bg-color) !important;
}
.Finance-Headers__Amount li {
  width: 151.05px !important;
}

.Employee-Table span {
  font-size: 15px;
  color: var(--layout-color);
}

.financeCategory {
  background-color: var(--bg-color);
}
.financeCategory th {
  color: var(--layout-color);
  font-size: 20px;
  font-weight: normal;
}

.Finance-headers span {
  width: 110px;
}

.financeCategory__item {
  font-size: 20px;
  background-color: var(--bg-color);
  border: none;
}
.financeCategory__item span {
  color: var(--layout-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tableBtn {
  margin: 2px;
  color: var(--reinver-color);
  height: 38px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: var(--layout-color);
  padding: 0px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.tableBtn svg {
  color: var(--reinver-color);
}

.Search-inputs {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}
.Search-inputs .Search-inputs-block {
  margin: 0 auto;
}
.Search-inputs .Search-inputs-block ul li:first-child, .Search-inputs .Search-inputs-block ul li:nth-child(2) {
  margin-right: 10px;
}

.Finance-Headers__Amount {
  background-color: #5ac47d !important;
}

.Employee-Pozition__tr {
  background-color: #5babb6 !important;
}

.Span-DontEdit {
  background-color: var(--background-color);
  color: var(--layout-color);
  outline: none;
  border: none;
  display: block;
  height: 40px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.Worker-search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.Worker-search-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Worker-search-list li label {
  margin-left: 5px;
  color: var(--layout-color);
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Worker-search-list li label span {
  margin-left: 5px;
}

.Worker-Input__Search {
  height: 40px;
  width: 200px;
  padding: 0px 0px 0px 10px;
  background-color: var(--search-input-bg);
  color: var(--layout-color);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
}
.Worker-Input__Search:active, .Worker-Input__Search:focus-visible {
  border: none;
  background-color: var(--layout-color) !important;
  color: var(--reinver-color);
}

.Tables {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
.Tables li:first-child {
  position: sticky;
  top: -5px;
}

.Employee-Pozition__Block {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.Employee-Pozition__Block span {
  text-align: center;
}

.Profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}
.Profile div {
  border-radius: var(--border-radius);
  padding: 15px;
  background-color: var(--background-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
}
.Profile div ul:first-of-type {
  margin-bottom: 30px;
}
.Profile div ul:first-of-type li:first-child img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}

.Name,
.Username {
  color: var(--invert-color);
}

.Name {
  font-size: 25px;
}

.Username {
  font-size: 20px;
}

.Email,
.PhoneNumber {
  font-size: 20px;
  -webkit-text-decoration: underline var(--invert-color);
          text-decoration: underline var(--invert-color);
}

.Email {
  margin-bottom: 10px;
}

.Settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
.Settings div {
  border-radius: var(--border-radius);
  padding: 15px;
  background-color: var(--background-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  margin: 10px;
}
.Settings h2 {
  color: var(--invert-color);
  margin-bottom: 20px;
}

.Settings-form ul li {
  font-size: 20px;
  padding: 5px;
}
.Settings-form ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Settings-form ul li label p {
  color: var(--invert-color);
  margin-right: 30px;
}
.Settings-form ul li label input {
  padding: 5px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  color: var(--invert-color);
  padding-left: 20px;
}
.Settings-form ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Settings-save-btn {
  padding: 10px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  color: var(--invert-color);
  cursor: pointer;
}

.Registration-form ul li {
  font-size: 20px;
  padding: 5px;
}
.Registration-form ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Registration-form ul li label p {
  color: var(--invert-color);
  margin-right: 30px;
}
.Registration-form ul li label input {
  padding: 5px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  color: var(--invert-color);
  padding-left: 20px;
}

.Registration-register-btn,
.Registration-select {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  color: var(--invert-color);
}

.User-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.User-list__items {
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  border-radius: var(--border-radius);
  margin: 5px;
}

.User-list__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.User-list__items ul li {
  width: 100%;
}
.User-list__items ul li a {
  background-color: var(--gray);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  padding: 10px 20px 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--invert-color);
  font-size: 20px;
}
.User-list__items ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.User-list__items ul li:last-child button {
  margin: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--invert-color);
  cursor: pointer;
}
.User-list__items ul li:last-child button svg {
  fill: var(--search-input-bg);
}

.Registration-Password-Item label input {
  position: relative;
}
.Registration-Password-Item label button {
  position: absolute;
  right: 15px;
  background-color: var(--transparent);
  margin: 5px 0px 0px 0px;
  border-radius: 50%;
  cursor: pointer;
}
.Registration-Password-Item label button svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.UserSearch {
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  margin: 0px 0px 20px 5px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--bg-color);
  color: var(--invert-color);
}

.Main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Layout-left {
  margin-right: 5px;
}
.Layout-left ul {
  position: sticky;
  top: 10px;
}
.Layout-left li {
  margin-bottom: 5px;
  border-radius: var(--border-radius);
}
.Layout-left li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-wrap: nowrap;
  font-size: 25px;
  color: var(--layout-color);
}
.Layout-left li a span {
  margin-left: 5px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.Layout-left li a img {
  margin: 0px 10px -3px 0px;
  color: var(--layout-color);
}
.Layout-left li a:hover {
  color: var(--layout-color);
}
.Layout-left li:hover {
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  background-color: var(--layout-color-hover);
}

.Rear-block {
  -webkit-box-shadow: var(--page-block-shadow);
          box-shadow: var(--page-block-shadow);
  width: 100%;
  margin-left: 5px;
  overflow-y: auto;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 10px;
}
.Rear-block::-webkit-scrollbar {
  width: 12px;
  background: var(--transparent) !important;
}
.Rear-block::-webkit-scrollbar-track {
  background: var(--transparent) !important;
}
.Rear-block::-webkit-scrollbar-thumb {
  background-color: var(--layout-color) !important;
  border-radius: var(--border-radius);
}
.Rear-block::-webkit-scrollbar-button:vertical:start:decrement {
  display: none !important;
}
.Rear-block::-webkit-scrollbar-button:vertical:end:increment {
  display: none !important;
}

.Auth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Auth-section,
.Registration-section {
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #d0c9ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0c9ce), to(#ebebf0));
  background: linear-gradient(to bottom, #d0c9ce 0%, #ebebf0 100%);
}

.Form-title {
  text-align: center;
  font-size: 27px;
  font-family: "ODB", sans-serif !important;
  margin-bottom: 50px;
}

.Login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Login-form ul li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Login-form ul li label p {
  margin: 5px 0;
  font-size: 20px;
}
.Login-form ul li label input {
  -webkit-box-shadow: 0 0 0 1px #b7b7b7;
          box-shadow: 0 0 0 1px #b7b7b7;
  width: 300px;
  height: 38px;
  padding: 0px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  color: #222222 !important;
}
.Login-form ul li label input:hover {
  background-color: #f2f2f2;
}
.Login-form ul li:last-child ul li label {
  margin-bottom: 40px;
}

.Form-buttons button {
  -webkit-box-shadow: 0 0 0 1px #b7b7b7;
          box-shadow: 0 0 0 1px #b7b7b7;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  color: #222222;
  padding: 10px 20px;
}
.Form-buttons button span {
  font-size: 15px;
}
.Form-buttons button:hover {
  cursor: pointer;
}